SGII-Ville/src/main/resources/schemas/common/utilisateur-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/gestion-interventions/common"
           xmlns:tns="http://example.com/gestion-interventions/common"
           elementFormDefault="qualified">

    <xs:complexType name="UtilisateurType" abstract="true">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="motDePasse" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
            <xs:element name="role" type="xs:string"/>
            <xs:element name="cin" type="xs:string"/> 
        </xs:sequence>
    </xs:complexType>

</xs:schema>
