SGII-Ville/src/main/resources/schemas/workflow/demandesAjout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/typesBase.xsd"/>

  <!-- Workflow d'ajout matériel / équipement (1 ChefService -> * DemandesAjout, 1 Admin traite * DemandesAjout) -->
  <xs:complexType name="DemandeAjoutType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="typeDemande" type="xs:string"/>
      <xs:element name="typeObjet" type="xs:string"/>
      <xs:element name="designation" type="xs:string"/>
      <xs:element name="quantite" type="xs:int" minOccurs="0"/>
      <xs:element name="budget" type="xs:decimal" minOccurs="0"/>
      <xs:element name="justification" type="xs:string" minOccurs="0"/>
      <xs:element name="chefId" type="xs:int"/>
      <xs:element name="adminId" type="xs:int" minOccurs="0"/>
      <xs:element name="etat" type="tns:EtatDemandeAjoutType"/>
      <xs:element name="dateDemande" type="xs:date"/>
      <xs:element name="dateTraitement" type="xs:date" minOccurs="0"/>
      <xs:element name="motifRefus" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>