SGII-Ville/src/main/resources/schemas/workflow/demandesAjout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/typesBase.xsd"/>

  <!-- Workflow d'ajout matériel / équipement -->
  <xs:complexType name="DemandeAjoutType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="typeObjet" type="xs:string"/>
      <xs:element name="idChefService" type="xs:int"/>
      <xs:element name="etat" type="tns:EtatDemandeAjoutType"/>
      <xs:element name="dateSoumission" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>