SGII-Ville/src/main/resources/schemas/entities/administrateur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/gestion-interventions/administrateur"
           xmlns:tns="http://example.com/gestion-interventions/administrateur"
           xmlns:base="http://example.com/gestion-interventions/common"
           elementFormDefault="qualified">

    <xs:import namespace="http://example.com/gestion-interventions/common"
               schemaLocation="../common/utilisateur-base.xsd"/>

        <xs:complexType name="AdministrateurType">
                <xs:complexContent>
                        <xs:extension base="base:UtilisateurType"/>
                </xs:complexContent>
        </xs:complexType>

        <!-- Liste des administrateurs -->
        <xs:element name="Administrateurs">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Administrateur" type="tns:AdministrateurType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>

</xs:schema>
