SGII-Ville/src/main/resources/schemas/entities/citoyens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/gestion-interventions/citoyens"
           xmlns:tns="http://example.com/gestion-interventions/citoyens"
           xmlns:base="http://example.com/gestion-interventions/common"
           elementFormDefault="qualified">

    <xs:import namespace="http://example.com/gestion-interventions/common"
               schemaLocation="../common/utilisateur-base.xsd"/>

   <!--<xs:complexType name="CitoyenType">
        <xs:complexContent>
            <xs:extension base="base:UtilisateurType">
                <xs:sequence>
                    <xs:element name="adresse" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>-->

<xs:complexType name="CitoyenType">
    <xs:complexContent>
        <xs:restriction base="base:UtilisateurType">
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="motDePasse" type="xs:string"/>
                <xs:element name="telephone" type="xs:string"/>
                <xs:element name="role" type="xs:string"/>   
                <!-- CIN supprimé ici -->

                <!-- Nouveau champ -->
                <xs:element name="adresse" type="xs:string"/>
            </xs:sequence>
        </xs:restriction>
    </xs:complexContent>
</xs:complexType>


    <!-- Liste des citoyens -->
    <xs:element name="Citoyens">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="Citoyen" type="tns:CitoyenType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
    </xs:element>


</xs:schema>
