SGII-Ville/src/main/resources/schemas/entities/equipements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/typesBase.xsd"/>
  <xs:include schemaLocation="../common/geo.xsd"/>

  <!-- Equipement (1 Fournisseur -> * Equipements) -->
  <xs:complexType name="EquipementType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="etat" type="tns:EtatEquipementType"/>
      <xs:element name="fournisseurId" type="xs:int"/>
      <xs:element name="valeurAchat" type="xs:decimal"/>
      <xs:element name="localisation" type="tns:GeoPointType"/>
      <xs:element name="dateAchat" type="xs:date" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>