SGII-Ville/src/main/resources/schemas/entities/equipements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://example.com/gestion-interventions"
xmlns:tns="http://example.com/gestion-interventions"
elementFormDefault="qualified">
<xs:include schemaLocation="../common/typesBase.xsd"/>
<xs:include schemaLocation="../common/geo.xsd"/>

<xs:complexType name="PeriodeType">
<xs:sequence>
<xs:element name="debut" type="xs:dateTime"/>
<xs:element name="fin" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<!-- ============================== -->
<!-- EquipementType -->
<!-- ============================== -->
<xs:complexType name="EquipementType">
<xs:sequence>
<!-- Données de base -->
<xs:element name="id" type="xs:int"/>
<xs:element name="nom" type="xs:string"/>
<xs:element name="type" type="xs:string"/>
<xs:element name="etat" type="tns:EtatEquipementType"/>
<xs:element name="fournisseurId" type="xs:int"/>
<xs:element name="valeurAchat" type="xs:decimal"/>
<xs:element name="dateAchat" type="xs:date" minOccurs="0"/>
<!-- Disponibilité globale -->
<xs:element name="disponible" type="xs:boolean"/>
<!-- Périodes d’indisponibilité -->
<xs:element name="indisponibilites" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="periode" type="tns:PeriodeType"
minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
