SGII-Ville/src/main/resources/schemas/entities/fournisseurs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/contacts.xsd"/>

  <!-- Fournisseur -->
  <xs:complexType name="FournisseurType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="email" type="tns:EmailType"/>
      <xs:element name="telephone" type="tns:TelephoneType"/>
      <xs:element name="adresse" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>