SGII-Ville/src/main/resources/schemas/entities/interventions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://example.com/gestion-interventions"
xmlns:tns="http://example.com/gestion-interventions"
elementFormDefault="qualified">
<xs:include schemaLocation="../common/typesBase.xsd"/>
<xs:include schemaLocation="../common/geo.xsd"/>

<xs:complexType name="CompetenceRequiseType">
<xs:sequence>
<xs:element name="competence" type="xs:string"/>
<xs:element name="nombreTechniciens" type="xs:int" default="1"/>
</xs:sequence>
</xs:complexType>

<!-- Exigence de Matériel pour Intervention -->
<xs:complexType name="MaterielRequisType">
<xs:sequence>
<xs:element name="designation" type="xs:string"/>
<xs:element name="quantiteRequise" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<!-- Exigence d'Équipement pour Intervention -->
<xs:complexType name="EquipementRequisType">
<xs:sequence>
<xs:element name="type" type="xs:string"/>
<xs:element name="quantiteRequise" type="xs:int" default="1"/>
</xs:sequence>
</xs:complexType>

<!-- Intervention (1 Demande -> 0..1 Intervention) -->
<xs:complexType name="InterventionType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="demandeId" type="xs:int"/>
<xs:element name="technicienId" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="chefServiceId" type="xs:int" minOccurs="0"/>
<xs:element name="priorite" type="tns:PrioriteType"/>
<xs:element name="etat" type="tns:EtatInterventionType"/>
<xs:element name="dateCreation" type="xs:date"/>
<xs:element name="datePlanifiee" type="xs:date"/>
<xs:element name="dateDebut" type="xs:date" minOccurs="0"/>
<xs:element name="dateFin" type="xs:date" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="budget" type="xs:decimal"/>

<!-- Exigences définies lors de la planification -->
<xs:element name="competencesRequises" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="competence" type="tns:CompetenceRequiseType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="materielsRequis" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="materiel" type="tns:MaterielRequisType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="equipementsRequis" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="equipement" type="tns:EquipementRequisType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>


<!-- Relation * Intervention -> * Equipements -->
<xs:element name="equipementIds" minOccurs="1">
<xs:complexType>
<xs:sequence>
<xs:element name="equipementId" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<!-- Relation * Intervention -> * RessourcesMaterielles -->
<xs:element name="ressourceIds" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="ressourceId" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<!-- Relation * Intervention -> * technicien -->
<xs:element name="technicienIds" minOccurs="1">
<xs:complexType>
<xs:sequence>
<xs:element name="technicienId" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>


</xs:sequence>
</xs:complexType>
</xs:schema>
