SGII-Ville/src/main/resources/schemas/entities/interventions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/typesBase.xsd"/>

  <!-- Intervention -->
  <xs:complexType name="InterventionType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="priorite" type="tns:PrioriteType"/>
      <xs:element name="etat" type="tns:EtatInterventionType"/>
      <xs:element name="datePlanifiee" type="xs:date"/>
      <xs:element name="budget" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>