SGII-Ville/src/main/resources/schemas/entities/maindoeuvre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/gestion-interventions"
           xmlns:tns="http://example.com/gestion-interventions"
           xmlns:base="http://example.com/gestion-interventions/common"
           elementFormDefault="qualified">

  <!-- Import du type base -->
  <xs:import namespace="http://example.com/gestion-interventions/common"
             schemaLocation="../common/utilisateur-base.xsd"/>

  <xs:complexType name="MainDOeuvreType">
      <xs:complexContent>
          <xs:extension base="base:UtilisateurType">
              <xs:sequence>
                  <xs:element name="prenom" type="xs:string"/>
                  <xs:element name="disponibilite" type="xs:string"/>
                  <xs:element name="competence" type="xs:string"/>
              </xs:sequence>
          </xs:extension>
      </xs:complexContent>
  </xs:complexType>

  <!-- Liste des mains d'oeuvre -->
  <xs:element name="MainDOeuvres">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MainDOeuvre" type="tns:MainDOeuvreType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>