SGII-Ville/src/main/resources/schemas/entities/maindoeuvre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <xs:include schemaLocation="../common/contacts.xsd"/>

  <!-- Main d'œuvre -->
  <xs:complexType name="MainDOeuvreType">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="cin" type="tns:CinType"/>
      <xs:element name="telephone" type="tns:TelephoneType"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>