SGII-Ville/src/main/resources/schemas/entities/ressources.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://example.com/gestion-interventions"
xmlns:tns="http://example.com/gestion-interventions"
elementFormDefault="qualified">

<xs:complexType name="RessourceMaterielleType">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<!-- Désignation / nom -->
<xs:element name="designation" type="xs:string"/>
<!-- Quantité totale / en stock -->
<xs:element name="quantiteEnStock" type="xs:int"/>
<!-- Valeur d'achat -->
<xs:element name="valeurAchat" type="xs:decimal"/>
<!-- Fournisseur -->
<xs:element name="fournisseurId" type="xs:int"/>
<!-- Unité optionnelle -->
<xs:element name="unite" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
