SGII-Ville/src/main/resources/schemas/entities/techniciens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/gestion-interventions"
           xmlns:tns="http://example.com/gestion-interventions"
           elementFormDefault="qualified">

  <!-- On inclut ton typesBase.xsd existant (inchangé) -->
  <xs:include schemaLocation="../common/typesBase.xsd"/>

  
    <xs:complexType name="TechnicienType">
        <xs:complexContent>
            <xs:extension base="base:UtilisateurType">
                <xs:sequence>
                    <xs:element name="competences" type="xs:string" maxOccurs="unbounded"/>
                    <xs:element name="disponibilite" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

  <!-- Liste des techniciens -->
  <xs:element name="Techniciens">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Technicien" type="tns:TechnicienType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>