SGII-Ville/src/main/resources/schemas/root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/gestion-interventions" 
           xmlns:tns="http://example.com/gestion-interventions" 
           elementFormDefault="qualified">

  <!-- Imports de tous les types -->
  <xs:include schemaLocation="entities/utilisateurs.xsd"/>
  <xs:include schemaLocation="entities/demandes.xsd"/>
  <xs:include schemaLocation="entities/interventions.xsd"/>
  <xs:include schemaLocation="entities/fournisseurs.xsd"/>
  <xs:include schemaLocation="entities/equipements.xsd"/>
  <xs:include schemaLocation="entities/ressources.xsd"/>
  <!-- SUPPRIMER maindoeuvre.xsd -->
  <xs:include schemaLocation="entities/taches.xsd"/>
  <xs:include schemaLocation="entities/photos.xsd"/>
  <xs:include schemaLocation="workflow/notifications.xsd"/>
  <xs:include schemaLocation="workflow/demandesAjout.xsd"/>

  <!-- Élément racine -->
  <xs:element name="SystemeGestionInterventions">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Utilisateurs" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="Citoyen" type="tns:CitoyenType"/>
              <xs:element name="Technicien" type="tns:TechnicienType"/>
              <xs:element name="ChefDeService" type="tns:ChefDeServiceType"/>
              <xs:element name="Administrateur" type="tns:AdministrateurType"/>
              <!-- CHANGEMENT : Utiliser MainDOeuvreType au lieu de AgentMainDOeuvreType -->
              <xs:element name="MainDOeuvre" type="tns:MainDOeuvreType"/>
            </xs:choice>
          </xs:complexType>
        </xs:element>

        <!-- SUPPRIMER la section MainDOeuvre séparée -->
        <!-- 
        <xs:element name="MainDOeuvre" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ouvrier" type="tns:MainDOeuvreType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        -->

        <!-- ... autres éléments ... -->
      </xs:sequence>
    </xs:complexType>

    <!-- ========== CLÉS PRIMAIRES ========== -->
    
    <!-- Clé primaire pour Utilisateurs (tous types) -->
    <xs:key name="utilisateurKey">
      <xs:selector xpath="tns:Utilisateurs/*"/>
      <xs:field xpath="tns:id"/>
    </xs:key>

    <!-- Clé primaire pour MainDOeuvre -->
    <xs:key name="mainDOeuvreKey">
      <xs:selector xpath="tns:Utilisateurs/tns:MainDOeuvre"/>
      <xs:field xpath="tns:id"/>
    </xs:key>

    <!-- ... autres clés primaires ... -->

    <!-- ========== CLÉS ÉTRANGÈRES ========== -->
    
    <!-- ... autres clés étrangères ... -->

    <!-- 1 MainDOeuvre -> * Tâches -->
    <xs:keyref name="tacheMainDoeuvreRef" refer="tns:mainDOeuvreKey">
      <xs:selector xpath="tns:Taches/tns:Tache"/>
      <xs:field xpath="tns:mainDOeuvreId"/>
    </xs:keyref>

  </xs:element>
</xs:schema>